<app-navbar></app-navbar>
<div class="flech">
    <span class="material-symbols-outlined" id="flech1">south</span>
    <span class="material-symbols-outlined" id="flech1">south</span>
    <span class="material-symbols-outlined" id="flech1">south</span>
    <span class="material-symbols-outlined" id="flech1">south</span>
</div>
<div class="cont">
    <div id="e1" style=" color: #F9F906;">W</div>
    <div id="e1" style=" color: #0615F9;">e</div>
    <div id="e1" style=" color : #F906DC ;">l</div>
    <div id="e1" >c</div>
    <div id="e1" style=" color : #06F2F9 ;">o</div>
    <div id="e1" >m</div>
    <div id="e1" style="margin-right: 8px; color: #BA06F9;">e </div>
    <div id="e1" style=" color: #F9F906;">T</div>
    <div id="e1" style="margin-right: 8px;  color: #0615F9;">o </div>
    <div id="e1" style=" color: #F9F906;">M</div>
    <div id="e1" style="margin-right: 8px;  color: #0615F9;">y </div>
    <div id="e1" style=" color: #F9F906;">N</div>
    <div id="e1" style=" color: #0615F9;">e</div>
    <div id="e1" style="margin-right: 8px; color : #F906DC ;">w </div>
    <div id="e1" style=" color: #F9F906;">A </div>
    <div id="e1" style=" color: #0615F9;">p </div>
    <div id="e1" style="margin-right: 8px; color : #F906DC ;">p </div>


</div>